.bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('/images/bg.png');
    background-size: 100vw 500px;
    background-position: center bottom;
    background-repeat: no-repeat;
}