.scene {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient($blue, $white, $white);
}

.dark {

    .scene { 
        background: url('/images/stars.png');
    }
}