$blue: #a6d8ff; 
$white: #fff;
$dark: #000000;
$pink: #ff6c6c;

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

@font-face {
    font-family: "Montserrat-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Montserrat-SemiBold.ttf");
}

$font-family-medium: 'Montserrat-Medium', sans-serif;
$font-family-semi-bold: 'Montserrat-SemiBold', sans-serif;
$font-family-clic : 'Fuzzy Bubbles';
